<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--<section name="EcommCategoryLogQueryConfigurations" type="System.Configuration.NameValueSectionHandler"/>
    <section name="EcommProductLogQueryConfigurations" type="System.Configuration.NameValueSectionHandler"/>
    <section name="EcommProductAttributeLogQueryConfigurations" type="System.Configuration.NameValueSectionHandler"/>
    <section name="EcommProductSpecificationLogQueryConfigurations" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ControlMasterQueryConfigurations" type="System.Configuration.NameValueSectionHandler"/>
    <section name="SalesQueryConfigurations" type="System.Configuration.NameValueSectionHandler"/>
    <section name="CartQueryConfigurations" type="System.Configuration.NameValueSectionHandler"/>
    <section name="DocumentMasterQueryConfigurations" type="System.Configuration.NameValueSectionHandler"/>
    <section name="VoucherQueryConfigurations" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ProjectQueryConfigurations" type="System.Configuration.NameValueSectionHandler"/>
    <section name="TaxQueryConfigurations" type="System.Configuration.NameValueSectionHandler"/>
    <section name="OrganizationQueryConfigurations" type="System.Configuration.NameValueSectionHandler"/>
    <section name="DiscountQueryConfigurations" type="System.Configuration.NameValueSectionHandler"/>
    <section name="PhotoMosaicStockQueryConfigurations" type="System.Configuration.NameValueSectionHandler"/>
    <section name="PhotoMosaicGalleryQuerySettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="AppointmentScheduleQuerySettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="MailMetaDataConfigQuerySettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="DeliveryConfigQuerySettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="TemplateConfigQuerySettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="ProductionBatchQuerySettings" type="System.Configuration.NameValueSectionHandler"/>-->
    <section name="BookQuerySettings" type="System.Configuration.NameValueSectionHandler"/>
    <!--<section name="BookChapterQuerySettings" type="System.Configuration.NameValueSectionHandler"/>********************************************-->
   <!-- <section name="BookReviewQueryConfigurations" type="System.Configuration.NameValueSectionHandler" />-->

 </configSections>
  <BookQuerySettings>
    <add key="CheckUserSubscriptionByUserId" value="
       IF ((SELECT um.UserId FROM UserMembership um WHERE um.UserId IN (SELECT urd.Regid FROM UserRegistrationDetails urd WHERE urd.UserGuid = @UserGuid)) != 0 AND ((SELECT um.IsSubscribed FROM UserMembership um WHERE um.UserId IN (SELECT urd.Regid FROM UserRegistrationDetails urd WHERE urd.UserGuid = @UserGuid)) != 0))
	  BEGIN
		  UPDATE UserMembership SET RemainTime = (SELECT DATEDIFF(DAY,GETUTCDATE(),(SELECT um.MemberShipExpiryDate FROM UserMembership um WHERE um.UserId IN (SELECT urd.Regid FROM UserRegistrationDetails urd WHERE urd.UserGuid = @UserGuid)))) WHERE UserId IN (SELECT urd.Regid FROM UserRegistrationDetails urd WHERE urd.UserGuid = @UserGuid)
		  SELECT um.RemainTime FROM UserMembership um WHERE UserId IN (SELECT urd.Regid FROM UserRegistrationDetails urd WHERE urd.UserGuid = @UserGuid)
		  	IF((SELECT um.RemainTime FROM UserMembership um WHERE UserId IN (SELECT urd.Regid FROM UserRegistrationDetails urd WHERE urd.UserGuid = @UserGuid)) = 0)
			      BEGIN
            	UPDATE UserMembership SET IsSubscribed = 0 WHERE (UserId IN (SELECT urd.Regid FROM UserRegistrationDetails urd WHERE urd.UserGuid = @UserGuid))
            END
    END
 ELSE
	  BEGIN
    	SELECT -1
    END
      ;"></add>

    <add key="AddNewSubscription" value="
      	IF NOT EXISTS(SELECT urd.Regid FROM UserRegistrationDetails urd WHERE urd.UserGuid = @UserGuid)
			 BEGIN
             	SELECT 0;
             END
			ELSE
			 BEGIN
             	IF NOT EXISTS(SELECT um.UserId FROM UserMembership um WHERE um.UserId IN (SELECT urd.Regid FROM UserRegistrationDetails urd WHERE urd.UserGuid = @UserGuid))
					         BEGIN
                    	INSERT INTO UserMembership (UserId, MemberShipId, SubscriptionDate, IsSubscribed, MemberShipExpiryDate)
	                    VALUES ((SELECT urd.Regid FROM UserRegistrationDetails urd WHERE urd.UserGuid = @UserGuid), (SELECT Id FROM Membership M WHERE M.MembershipGuid = @MembershipGuid), GETUTCDATE(), 1 , (SELECT DATEADD(MONTH,(SELECT m.PlanDuration FROM Membership M WHERE M.MembershipGuid = @MembershipGuid),GETUTCDATE())))
					           	UPDATE UserMembership SET RemainTime = (SELECT DATEDIFF(DAY,GETUTCDATE(),(SELECT um.MemberShipExpiryDate FROM UserMembership um WHERE um.UserId IN (SELECT urd.Regid FROM UserRegistrationDetails urd WHERE urd.UserGuid = @UserGuid)))) WHERE UserId IN (SELECT urd.Regid FROM UserRegistrationDetails urd WHERE urd.UserGuid = @UserGuid)
                    END
				      ELSE
					        BEGIN
                    SELECT -1;
                  END
         END
      ;"></add>
  </BookQuerySettings>
</configuration>